// global sass
// toolbar style
ion-navbar.toolbar {
  .toolbar-background {
    border: none;
    background: -webkit-linear-gradient(left top, #33b0fc, #3fd4fa);
  }
  .toolbar-title {
    color: #f8f8f8;
  }
}
